<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Thẻ Tín Dụng</title>
    <link href="../public/styles/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <div class="the">
            <h1>Thêm Thẻ Tín Dụng Mới</h1>
        </div>
    </header>

    <section>
        <% if (typeof error !=='undefined' ) { %>
            <div style="color: red;">
                <%= error %>
            </div>
            <% } %>
                <form id="add-card-form" action="/" method="POST">
                    <label for="cardNumber">Số Thẻ (16 chữ số):</label>
                    <input type="text" id="cardNumber" name="cardNumber" pattern="\d{16}" required>

                    <label for="bankName">Ngân hàng:</label>
                    <input type="text" name="bankName" id="bankName" class="form-control"
                        placeholder="Nhập tên ngân hàng" required>

                    <label for="cardHolderName">Tên Chủ Thẻ (IN HOA, không dấu):</label>
                    <input type="text" id="cardHolderName" name="cardHolderName" required>

                    <label for="customerName">Tên Khách Hàng:</label>
                    <input type="text" id="customerName" name="customerName" required>

                    <label for="amount">Số tiền:</label>
                    <input type="number" id="amount" name="amount" required>

                    <label for="dueDate">Hạn Thanh Toán: </label>
                    <input type="date" id="dueDate" name="dueDate" placeholder="dd-mm-yyyy" required>

                    <button type="submit">Thêm Thẻ</button>
                </form>
                <button onclick="location.href='/'">Quay lại Trang Chủ</button>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../public/js/addCard.js"></script>
    <script>
        $(function () {
            var availableBanks = [
        <% banks.forEach(function (bank, index) { %>
                "<%= bank %>" <%= index < banks.length - 1 ? ',' : '' %>
        <% }); %>
    ];;

            $("#bankName").autocomplete({
                source: availableBanks,
                select: function (event, ui) {
                    $("#bankName").val(ui.item.label);
                    return false;
                }
            });
        });
    </script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</body>

</html>
